.cssload-loader {
	display: block;
	margin:0 auto;
	width: 79px;
	height: 79px;
	position: relative;
	border: 11px solid rgb(39,127,227);
	animation: cssload-loader 2s infinite ease;
		-o-animation: cssload-loader 2s infinite ease;
		-ms-animation: cssload-loader 2s infinite ease;
		-webkit-animation: cssload-loader 2s infinite ease;
		-moz-animation: cssload-loader 2s infinite ease;
}

.cssload-loader-inner {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: rgb(39,127,227);
	animation: cssload-loader-inner 2s infinite ease-in;
		-o-animation: cssload-loader-inner 2s infinite ease-in;
		-ms-animation: cssload-loader-inner 2s infinite ease-in;
		-webkit-animation: cssload-loader-inner 2s infinite ease-in;
		-moz-animation: cssload-loader-inner 2s infinite ease-in;
}





@keyframes cssload-loader {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(180deg);
	}

	75% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-loader {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(180deg);
	}

	75% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-loader {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(180deg);
	}

	75% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-loader {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(180deg);
	}

	75% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-loader {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(180deg);
	}

	75% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes cssload-loader-inner {
	0% {
		height: 0%;
	}

	25% {
		height: 0%;
	}

	50% {
		height: 100%;
	}

	75% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}

@-o-keyframes cssload-loader-inner {
	0% {
		height: 0%;
	}

	25% {
		height: 0%;
	}

	50% {
		height: 100%;
	}

	75% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}

@-ms-keyframes cssload-loader-inner {
	0% {
		height: 0%;
	}

	25% {
		height: 0%;
	}

	50% {
		height: 100%;
	}

	75% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}

@-webkit-keyframes cssload-loader-inner {
	0% {
		height: 0%;
	}

	25% {
		height: 0%;
	}

	50% {
		height: 100%;
	}

	75% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}

@-moz-keyframes cssload-loader-inner {
	0% {
		height: 0%;
	}

	25% {
		height: 0%;
	}

	50% {
		height: 100%;
	}

	75% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}
